<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style>
        .helptext{
            font-size: 12pt;
            color: blue;
        }
        label{
            font-size: 16pt;
        }
        table{

        }
        .errorlist{
            color: red;
        }
    </style>
</head>
<body>
<h1>Formulario de registro de Actividades</h1>
<form method="get" action="calendar/">
    {{ form.as_div }}
    <div>
        <input type="submit" value="Enviar"/>
    </div>
</form>
</body>
</html>
